.todo__main {
    margin-top: 10px;
    border-radius: 10px 10px 0 0;
    list-style: none;
}

.todo__item {
    padding: 15px 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: rgb(19, 21, 39);
    box-shadow: 3px 3px 10px -1px rgba(0, 0, 0, 0.61);
}

.todo__item:last-child {
    margin-bottom: 10px;
    border-radius: 10px 10px 0 0 ;
}


.todo__item--section {
    margin-bottom: 10px;
}

.todo__item--section h1 {
 margin-bottom: 10px;
}

.todo__item--section p {
    margin: 0 5px;
}

.todo__item--div {
    text-align: right;
}

/* STATE */
.todo__item--completed{
    text-decoration: line-through;
    background-color: rgb(35, 58, 43);
}

.todo__item:hover {
    cursor: pointer;
    transform: scale(1.02);
}

@media screen and (min-width: 768px) {
    .todo__main {
        width: 50%;
    }
}